<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{.Name}}</h1>
    <h1>{{.Age}}</h1>

    {{if .Adult}}
    <h3> He is Adult</h3>
    {{else}}
    <h3>He is young</h3>
    {{end}}
</body>
</html>

