<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>
    {{if gt .Score1 .Score2}}
    SCORE1 > SCORE2
    {{end}}

{{if lt .Score1 .Score2}}
    SCORE1 < SCORE2
    {{end}}

{{if eq .Score1 2}}
    SCORE1 = 2
    {{end}}

{{if eq .Score1 .Score2}}
    SCORE1 > SCORE2
    {{end}}
</body>
</html>
