<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
    {{$n:=.Name}}
    {{$c:=.Capital}}
<ul>
    <li>{{$n}} - {{$c}}</li>
</ul>
</body>
</html>
